.btn-main {
    background-color: #ee3643;
    color: #fff;
    padding: 16px 35px;
    font-size: 17pt;
    line-height: 18pt;
}

.btn-main:hover {
    background-color: #ee3643;
    color: #fff;
}

.btn-main::after {

}




.btn-buy {
    background-color: #ee3643;
    color: #fff;
    padding: 16px 35px;
    font-size: 17pt;
    line-height: 18pt;
}


.btn-buy:hover {
    background-color: #ee3643;
    color: #fff;
}

.btn-buy::after {
    background-color: #3642ee;
    border: #ee3643 20px solid;
    position: relative;
    top: 10px;
    left: 50px;
    width: 40px;
    height: 40px;
}