.btn-main {
    background-color: #ee3643;
    color: #fff;
    padding: 16px 35px;
    font-size: 17pt;
    line-height: 18pt;
}

.btn-main:hover {
    background-color: #ee3643;
    color: #fff;
}

.btn-main::after {
    
}




.btn-buy {
    background-color: #ee3643;
    color: #fff;
    padding: 6px 25px;
    font-size: 17px;
    line-height: 18pt;
    position: relative;
}

.btn-buy:hover {
    background-color: #ee3643;
    color: #fff;
}

.btn-buy::after {// кончик
    // background-color: #3642ee;
    border: transparent 18px solid;
    border-left-color: #ee3643;
    position: absolute;
    top: 0;
    left: 100%;
    width: 0;
    height: 100%;
    // font-size: 1px;
    content: '';
}


.btn-social {
    width: 45px;
    height: 45px;
    border-radius: 50%;
}