.btn-main {
    background-color: #ee3643;
    color: #fff;
    padding: 16px 35px;
    font-size: 17pt;
    line-height: 18pt;
}

.btn-main:hover {
    background-color: #ee3643;
    color: #fff;
}

.btn-main::after {
    
}




.btn-buy {
    background-color: #ee3643;
    color: #fff;
    padding: 16px 35px;
    font-size: 17pt;
    line-height: 18pt;
}

.btn-buy:hover {
    background-color: #ee3643;
    color: #fff;
}

.btn-buy::after {
    // background-color: #3642ee;
    border: transparent 21px solid;
    border-left-color: #3642ee;
    position: relative;
    top: 50%;
    left: 50%;
    width: 0;
    height: 0;
    font-size: 1px;
    content: '';
}


.btn-social {
    width: 45px;
    height: 45px;
    border-radius: 50%;
}