.main-title {
    background-color: #f2f6f8;
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 30px;
    padding-bottom: 15px;

    h2 {
        font-family: cuprumRegular, sans-serif;
        font-size: 30pt;
        line-height: 30pt;
        text-transform: uppercase;
    }
}