/*cuprum*/
@font-face {
    font-family: cuprumRegular;
    src: url('../fonts/Cuprum/Cuprum-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: cuprumBold;
    src: url('../fonts/Cuprum/Cuprum-Bold.ttf') format('truetype');
    font-weight: bold;
}

@font-face {
    font-family: cuprumItalic;
    src: url('../fonts/Cuprum/Cuprum-Italic.ttf') format('truetype');
    font-style: italic;
}

@font-face {
    font-family: cuprumBoldItalic;
    src: url('../fonts/Cuprum/Cuprum-BoldItalic.ttf') format('truetype');
    font-weight: bold;
    font-style: italic;
}

/*ptsans*/
@font-face {
    font-family: PTSans;
    src: url('../fonts/ptsans/ptsans.woff2') format("woff2"),
    url("../fonts/ptsans/ptsans.woff") format("woff");
}
