.new {
    overflow: hidden;
    position: relative;
}

.new::before {
    position: absolute;
    z-index: 6;
    display: block;
    right: -23px;
    top: 7px;
    width: 85px;
    height: 28px;
    content: "NEW";
    color: #fff;
    font-size: 12px;
    line-height: 12px;
    text-align: center;
    background: #ee3643;
    transform: rotate(45deg);
    padding-top: 7px; 
}
