.section-name {
	background-color: #f7f3ec;
	padding: 10px 20px;
	margin-bottom: 20px;
	font-size: 13pt;
	font-weight: 400;
	line-height: 18pt;
	text-transform: uppercase;
	font-family: PTSans, noto-sans, sans;
}