div.block-auth
    ul.list
        li.item
            a.btn.btn-auth.nav-link.loggedin(href="#") Инокентий Смоктуновский
        li.private-links
            a.auth.myorders(href="#") Мои заказы
            span.box
                span.circle
            a.auth.cabinet(href="#") Личный кабинет