nav.block-social
    .container
        .copyright 2010-2018 Компания "Техномарт" Все права защищены
        ul.social-buttons.nav.navbar-nav.ml-auto
            li.nav-item
                a.nav-link.btn-social.vk(href='https://vk.com')
                    img(src='images/socials/vk.png', alt='Ссылка на ВКонтакте')
            li.nav-item
                a.nav-link.btn-social.fb(href='https://facebook.com')
                    img(src='images/socials/fb.png', alt='Ссылка на Фейсбук')
            li.nav-item
                a.nav-link.btn-social.inst(href='https://instagram.com')
                    img(src='images/socials/inst.png', alt='Ссылка на Инстаграм')
        ul.feedback.nav.navbar-nav.ml-auto
            li.nav-item
                div Обратная связь:
                .email.text-yellow mail@example.com
            li.nav-item
                div Разработано &ndash;
                .site.text-yellow example.com