div.block-intro
    div.intro-title.col-md-4.border-green
        h1 Интернет-магазин строительных материалов и инструментов для ремонта
    div.intro-body.justify-content-between.col-md-8.p-0
        .block-contacts
            .phone +38 (044) 555-05-55
            .address г.Киев, ул.В.Гетьмана, Д.6, (2-й этаж)
    block auth