.block-category
    #carouselExampleIndicators.carousel.slide(data-ride='carousel')
        ol.carousel-indicators
            li.active(data-target='#carouselExampleIndicators', data-slide-to='0')
            li(data-target='#carouselExampleIndicators', data-slide-to='1')
        .carousel-inner
            .carousel-item.active
                img.d-block.w-100(src='images/slide1.png', alt='First slide')
                .carousel-caption.d-none.d-md-block
                    h5 Заголовок слайда
                    p Текст слайда
            .carousel-item
                img.d-block.w-100(src='images/slide2.png', alt='Second slide')
                .carousel-caption.d-none.d-md-block
                    h5 Заголовок слайда
                    p Текст слайда
        a.carousel-control-prev(href='#carouselExampleIndicators', role='button', data-slide='prev')
            span.carousel-control-prev-icon(aria-hidden='true')
            span.sr-only Previous
        a.carousel-control-next(href='#carouselExampleIndicators', role='button', data-slide='next')
            span.carousel-control-next-icon(aria-hidden='true')
            span.sr-only Next
    .card.materials.new
        .row
            .col-md-6
                .title Материалы
                a.btn(href='#') На любой вкус
            .col-md-6
                .image
                    img(src='images/materials.png', alt='Эскиз доставки')
    .card.tools.new
        .row
            .col-md-6
                .title Инструмент
                a.btn(href='#') На все случаи
            .col-md-6
                .image
                    img(src='images/tools.png', alt='Эскиз доставки')
    .card.technics
        .row
            .col-md-6
                .title Техника
                a.btn(href='#') Для стройки
            .col-md-6
                .image
                    img(src='images/technics.png', alt='Эскиз доставки')
    .card.discount.new
        .row
            .col-md-6
                .title Скидки
                a.btn(href='#') На 360 товаров
            .col-md-6
                .image
                    img(src='images/discount.png', alt='Эскиз доставки')
    .card.delivery
        .row
            .col-md-6
                .title Доставка
                a.btn(href='#') Бесплатно
            .col-md-6
                .image
                    img(src='images/delivery.png', alt='Эскиз доставки')
