nav.block-status-panel( class="navbar navbar-expand-lg navbar-dark" id="block-status-panel" )
    .container
        .navbar-brand Техномарт
        form( action="" class="form-inline my-2 my-lg-0")
            input( style="border:none;outline:none;" type="text" class="search form-control mr-sm-2" placeholder="Поиск" area-label="Search")
        ul.navbar-header( class="nav navbar-nav" )
            li(class="nav-item")
                a(class="nav-link bookmark" href="#") Закладки: 0
            li(class="nav-item")
                a(class="nav-link basket" href="#") Корзина: 0
            li(class="nav-item  btn-success")
                a(class="nav-link checkout" href="#") Оформить заказ