nav.block-bottommenu.navbar.navbar-expand-lg.navbar-dark
    .container
        .navbar-brand Техномарт
        ul.nav.navbar-nav.ml-auto
            li.nav-item
                a.nav-link(href='#') Компания
            li.nav-item
                a.nav-link(href='#') Новости
            li.nav-item
                a.nav-link(href='#') Каталог
            li.nav-item
                a.nav-link(href='#') Доставка
            li.nav-item
                a.nav-link(href='#') Контакты