.block-popular-vendors
    .block-popular-header.row
        span.title Популярные производители:
        a.btn.btn-all(href='#') Все производители
    .block-popular-items.row
        .col-md-3
            .card.block-goods.text-center
                img.card-img-top(src='images/vendors/bosch.jpg', alt='Card image cap')
        .col-md-3
            .card.block-goods.text-center
                img.card-img-top(src='images/vendors/makita.jpg', alt='Card image cap')
        .col-md-3
            .card.block-goods.text-center
                img.card-img-top(src='images/vendors/dewalt.jpg', alt='Card image cap')
        .col-md-3
            .card.block-goods.text-center
                img.card-img-top(src='images/vendors/интерскол.jpg', alt='Card image cap')
        .col-md-3
            .card.block-goods.text-center
                img.card-img-top(src='images/vendors/hitachi.jpg', alt='Card image cap')
        .col-md-3
            .card.block-goods.text-center
                img.card-img-top(src='images/vendors/lg.jpg', alt='Card image cap')
        .col-md-3
            .card.block-goods.text-center
                img.card-img-top(src='images/vendors/aeg.jpg', alt='Card image cap')
        .col-md-3
            .card.block-goods.text-center
                img.card-img-top(src='images/vendors/metabo.jpg', alt='Card image cap')
