nav.block-bottommenu.navbar.navbar-expand-lg.navbar-dark
    .container
        .address г.Киев, ул.В.Гетьмана, Д.6, (2-й этаж)
        ul.nav.navbar-nav.ml-auto
            li.nav-item
                a.nav-link.text-yellow(href='#') Материалы
            li.nav-item
                a.nav-link.text-yellow(href='#') Техника
            li.nav-item
                a.nav-link.text-yellow(href='#') Инструмент
            li.nav-item
                a.nav-link.text-yellow(href='#') Спецпредложения