.block-catalog
    .section-name Сортировка
    .row
        .card.block-goods.text-center
            img.card-img-top(src='images/goods/goods0.jpg', alt='Card image cap')
            .card-body
                h5.card-title Перфоратор BOSCH BFG 9000
                p.card-text.old-price 32500 грн.
                a.btn.btn-buy(href='#') 25500 грн.
            .interesting-goods
                button.btn.btn-success Купить
                button.btn.btn-outline-success В закладки
        .card.block-goods.text-center
            img.card-img-top(src='images/goods/goods1.jpg', alt='Card image cap')
            .card-body
                h5.card-title Перфоратор BOSCH BFG 9000
                p.card-text.old-price 32500 грн.
                a.btn.btn-buy(href='#') 15500 грн.
            .interesting-goods
                button.btn.btn-success Купить
                button.btn.btn-outline-success В закладки
        .card.block-goods.text-center
            img.card-img-top(src='images/goods/goods2.jpg', alt='Card image cap')
            .card-body
                h5.card-title Перфоратор BOSCH BFG 9000
                p.card-text.old-price 32500 грн.
                a.btn.btn-buy(href='#') 25500 грн.
            .interesting-goods
                button.btn.btn-success Купить
                button.btn.btn-outline-success В закладки
        .card.block-goods.text-center.new
            img.card-img-top(src='images/goods/goods3.jpg', alt='Card image cap')
            .card-body
                h5.card-title Перфоратор BOSCH BFG 9000
                p.card-text.old-price 32500 грн.
                a.btn.btn-buy(href='#') 12500 грн.
            .interesting-goods
                button.btn.btn-success Купить
                button.btn.btn-outline-success В закладки
        .card.block-goods.text-center
            img.card-img-top(src='images/goods/goods0.jpg', alt='Card image cap')
            .card-body
                h5.card-title Перфоратор BOSCH BFG 9000
                p.card-text.old-price 32500 грн.
                a.btn.btn-buy(href='#') 25500 грн.
            .interesting-goods
                button.btn.btn-success Купить
                button.btn.btn-outline-success В закладки
        .card.block-goods.text-center
            img.card-img-top(src='images/goods/goods1.jpg', alt='Card image cap')
            .card-body
                h5.card-title Перфоратор BOSCH BFG 9000
                p.card-text.old-price 32500 грн.
                a.btn.btn-buy(href='#') 15500 грн.
            .interesting-goods
                button.btn.btn-success Купить
                button.btn.btn-outline-success В закладки
        .card.block-goods.text-center
            img.card-img-top(src='images/goods/goods2.jpg', alt='Card image cap')
            .card-body
                h5.card-title Перфоратор BOSCH BFG 9000
                p.card-text.old-price 32500 грн.
                a.btn.btn-buy(href='#') 25500 грн.
            .interesting-goods
                button.btn.btn-success Купить
                button.btn.btn-outline-success В закладки
        .card.block-goods.text-center.new
            img.card-img-top(src='images/goods/goods3.jpg', alt='Card image cap')
            .card-body
                h5.card-title Перфоратор BOSCH BFG 9000
                p.card-text.old-price 32500 грн.
                a.btn.btn-buy(href='#') 12500 грн.
            .interesting-goods
                button.btn.btn-success Купить
                button.btn.btn-outline-success В закладки
        .card.block-goods.text-center.new
            img.card-img-top(src='images/goods/goods3.jpg', alt='Card image cap')
            .card-body
                h5.card-title Перфоратор BOSCH BFG 9000
                p.card-text.old-price 32500 грн.
                a.btn.btn-buy(href='#') 12500 грн.
            .interesting-goods
                button.btn.btn-success Купить
                button.btn.btn-outline-success В закладки