.block-about-goods
    .container
        .title
            h2 Пара слов о перфораторах
        p
            | Перфоратор - универсальный строительные инструмент. Предназначен для сверления и долбления отверстий в
            | кирпиче, бетоне и камне. Существуют электрические и пневматические перфораторы. Современные модели могут
            | выполнять функци дрели, шуруповерта и отбойного молотка. В ассортиментном ряду есть выбор
            | «трехрежимников»: в одном устройстве будут совмещены отбойный молоток ударная дрель.
