nav.block-topmenu.navbar-expand-lg
    nav.navbar.navbar-dark
        button(class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggleExternalContent" aria-controls="navbarToggleExternalContent" aria-expanded="true" aria-label="Toggle navigation")
            span.navbar-toggler-icon
    div(class="collapse.show" id="navbarToggleExternalContent")
        ul(class="navbar-nav justify-content-around navbar" id="topmenu")
            li.nav-item
                a.nav-link(href="index.html") Главная
            li.nav-item
                a.nav-link(href="#") Компания
            li.nav-item
                a.nav-link(href="catalog.html") Каталог
            li.nav-item
                a.nav-link(href="#") Новости
            li.nav-item
                a.nav-link(href="#") Спецпредложения
            li.nav-item
                a.nav-link(href="#") Доставка
            li.nav-item
                a.nav-link(href="#") Контакты