.block-about.row
    .about.col-md.col-xl
        .title
            | Компания "Техномарт"
        .promo-body
            p
                | Настоящий мужской шопинг начинается здесь! Огромный выбор товаров для ремонта и
                | строительства не оставит равнодушными любителей сэкономить на гастарбайтерах.
            p
                | Мы можем доставить ваш товар в самые отдаленные уголки мира!
                | Техномарт работает со многими транспортными компаниями:
            ul
                li.tire Интайм
                li.tire Укрпошта
                li.tire Нова пошта
            p
            a.btn.btn-main(href='#') Подробнее о компании
    .block-map
        .title Контакты
        .promo-body
            p Вы можете забрать товар сами, заехав в наш офис:
        .map
            iframe(src='https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2540.4734438546216!2d30.439434916156095!3d50.450907879475444!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x40d4cc24d04965d9%3A0x51a9136abfd9b2b4!2z0YPQuy4g0JLQsNC00LjQvNCwINCT0LXRgtGM0LzQsNC90LAsIDYsINCa0LjQtdCyLCAwMjAwMA!5e0!3m2!1sru!2sua!4v1543282862353', width='300', height='160', frameborder='0', style='border:0', allowfullscreen='')
        a.btn.btn-main(href='#') Заблудился? Напишите нам
