.block-map {
    margin-right: 10px;
    display: flex;
    flex-direction: column;
    width: 300px;
    margin-left: 100px;
    margin-right: 10px;
    
    .btn {
        width: 100%;
    }

    .title {
        margin-bottom: 35px;
    }

    .promo-body {
        margin-bottom: 30px;
        p {
            margin: 0;
        }
    }
    
    .map {
        margin-bottom: 35px;
    }
}