.block-topmenu {

    background-color: var(--menucolor);
    margin-bottom: 60px;


    .navbar {
        padding: 0;
    }

    #topmenu {
        a {
            color: #ffffff;
            padding-top: 22px;
            padding-bottom: 21px;
            padding-left: 20px;
            padding-right: 20px;
        }

        a:hover {
            text-decoration: none;
        }

        li {
            display: flex;
            width: 100%;
            justify-content: center;
        }

        li:hover {
            background-color: var(--basecolor);
        }
    }

    @include media-breakpoint-up(md) {
        .navbar-toggler {
            display: none;
        }

        .topmenu-toggler {
            display: none;
        }

        #topmenu {
            flex-direction: row;

            li {
                width: inherit;
            }
        }
    }
}