.block-catalog {
	// display: flex;
	// flex-wrap: wrap;
	// flex-direction: column;
	margin: 0;
	padding: 0;
	margin-bottom: 60px;

	.row {
		margin-bottom: 30px;
	}

	.card {
	    // margin-bottom: 20px;
	    // margin-left: 10px;
	    // margin-right: 10px;
	}	
}

