.block-about {
    --line-height: 18px;
    margin-bottom: 90px;

    .tire {
        list-style-type: none;
        position: relative;
    }

    .tire::before {
        content: "";
        position: absolute;
        display: inline;
        width: 25px;
        height: 2px;
        background-color: #fb565a;
        bottom: 11px;
        left: -35px;
    }

    .btn {
        padding: calc(40px - var(--line-height)) 40px;
        font-size: 18px;
        font-family: cuprumRegular, sans, sans-serif;
        line-height: var(--line-height);
        text-transform: uppercase;
    }

    .about {
        max-width: calc(100% - 300px - 100px);
    }
}