.block-auth {
    text-align: right;
    padding: 0;

    .list {
        list-style-type: none;
        padding: 0;
        margin: 0;
    }

    .item {
        margin-left: 10px;
        display: inline-block;
        
    }
    
    .btn-auth {
        background-color: #ffffff;
        padding-left: 25px;
        padding-right: 25px;

    }

    .login {
        position: relative;
        padding-left: 50px;
    }

    .login::before {
        position: absolute;
        content: url("../images/icons/icon-login.png");
        width: 20px;
        height: 17px;
        left: 15px;
    }

    .login:hover::before {
        content: url("../images/icons/icon-login_hover.png");
    }

    .login:active::before {
        content: url("../images/icons/icon-login.png");
    }

    .nav-link {
        color: #000000;
        font-size: 20pt;
        line-height: 21pt; 
    }

    .nav-link:hover {
        color: #ee3643;
    }

    .nav-link:active {
        color: #cacaca;
    }
}