.block-contacts {
    padding: 0 !important;

    .phone {
        border: 3px solid #fff;
        font-size: 18px;
        line-height: 19px;
        color: #e9292a;
        padding: 8pt;
        padding-right: 70px;
        padding-left: 70px;
    }
    
    .address {
        color: #32425c;
        padding: 5px 0 0 10px;
        font-size: 10pt;
        line-height: 24pt;
    }
}