.block-bottommenu {
    background-color: var(--menucolor);
    padding: 0;

    .nav-link.text-yellow {
        color: #ffd180 !important;
    }

    .nav-link.text-yellow:hover {
        color: #ffd180 !important;
    }

    .nav-link.text-yellow:active {
        color: #998a6e !important;
    }

    .address {
        color: #ffffff;
    }

    .navbar-nav {
        padding: 0;
    }

    .nav-link {
        color: #ffffff !important;
        padding-top: 22px;
        padding-bottom: 21px;
        padding-left: 60px !important;
        padding-right: 0 !important;
    }
    
    .nav-link:hover {
        color:#f1f5f7  !important;
        text-decoration: underline;
    }

    .nav-link:active {
        color:#929caa  !important;
        text-decoration: none;
    }
}