.block-social {
    background-color: var(--basecolor);
    padding-bottom: 35px;
    padding-top: 35px;


    .container {
        display: flex;
        flex-direction: row;
    }

    .feedback {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        flex-basis: 300px;
    }

    .copyright {
        color: #ffffff;
        flex-basis: 27%;
    }

    .social-buttons {
        display: flex;
        flex-direction: row;

        img {
            margin: 0 auto;
        }

        .nav-item {
            margin: 5px;
        }

        .nav-link {
            font-size: 0;
            text-decoration: none;
            display: flex;
            justify-content: center;
            align-items: center;
        }

        .nav-link:hover {
            background-color: #ee3643;
        }
    }

    .feedback {
        .nav-item {
            color: #ffffff;
        }
    }

    .vk {
        background: #212a3a url('images/socials/vk.png');
    }

    .fb {
        background: #212a3a url('images/socials/fb.png');
    }

    .inst {
        background: #212a3a url('images/socials/instagram.png');
    }
}