.block-services {
    background-color: #f2f6f8;
    padding-top: 65px;
    margin-bottom: 80px;

    .block-list {
        .nav{
            background-color: #32425c;

            a {
                color: #ffffff;
                font-size: 21pt;
                line-height: 30pt;
                // font-family: cuprumBold, sans, sans-serif;
                font-family: PTSans, sans, sans-serif;
                font-weight: 700;
            }

            .active {
                background-color: #ffffff;
                color: #32425c;
                border-radius: 0;
            }
        }
        .tab-content {

        }
    }


    img {
        
        margin: 10px;
    }

    #promo-delivery {
        position: relative;
        width: 206px;
        height: 146px;
    }

    #promo-delivery-shadow {
        top: 0;
        left: 135px;
        
        // content : "";
        // content: url('../images/promo/delivery-shadow.png') no-repeat;
        
    }

    #promo-warranty {
        position: relative;
        width: 170px;
        height: 172px;
    }

    #promo-warranty::before {
        position: absolute;
        width: 388px;
        height: 271px;
    }

    #promo-credit {
        position: relative;
        width: 170px;
        height: 172px;
    }
    
    #promo-credit::before {
        position: absolute;
        width: 170px;
        height: 172px;
    }

    .promo {
        margin-bottom: 70px;
    }

    .promo-title {
        font-size: 30pt;
        line-height: 30pt;
        font-family: cuprumRegular, sans-serif;
        font-weight: 400;
        text-transform: uppercase;
        margin-bottom: 20px;
    }

    .promo-body {
        font-size: 13pt;
        line-height: 24pt;
        font-family: PTSans, sans-serif;
        font-weight: 400;
    }

    .nav {
        // margin-bottom: 150px;
    }

    .bar{
        display: flex;
        justify-content: space-between;

        .promo-body {
            width: 425px;
        }
    }

    .list-group {
        
        margin-right: 80px;
    }

    .list-group-item {
        // width: 240px;
    }
}