.block-goods {

	border: 1px solid hsl(0, 0%, 90%);
	border-radius: 0;

	.card-img-top {
		width: 70%;
	}
	.card-body {
		.card-title {
			font-family: PTSans, sans, sans-serif !important;
			font-size: 12pt;
			font-weight: bold;
		}
		.old-price{}
		.btn-buy{}
	}
}