.header {
    .row {
        background-color: #f1f5f7;
        margin: 0;
    }
}

.block-title  {
    padding: 50px;

    h1 {
        color: red;
        font-size: 16pt;
        line-height: 23pt;
    }
}

